<!DOCTYPE html>
<html lang="pt-br">
<%- include ('./partials/header.ejs') %>

<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container mt-3 pt-3 mb-3 pb-3">
        <div class="row bg-custom" style="padding: 50px; color: white;">
            <div class="col-md-12">
                <h1 class="display-4 text-center font-weight-bold">Mais alguma pergunta?</h1>
            </div>

            <p class="mt-5 text-custom">Bem vindo a plataforma <b style="color: #02BC25;">Any Quest!ons?</b></p>
            <p class="mt-3 text-custom text-justify">Esse site consiste em uma plataforma de Perguntas e Respostas, estilo 
                <a href="https://br.answers.yahoo.com/" target="_blank" rel="site-yahoo-respostas" style="color: #6000D2">Yahoo Respostas</a>, 
                de forma mais simplificada.
            </p>
            <p class="mt-3 text-custom text-justify">A plataforma tem como fundamento o primeiro projeto ensinado no curso 
                <b><a href="https://www.udemy.com/course/formacao-nodejs" target="_blank" rel="site-formação-node" style="color: #EB5352">Formação Node.js</a></b>,
                entretanto, contem demais alterações de minha propria autoria 
                <a href="https://www.linkedin.com/in/stenio-dias-rapchan" target="_blank" rel="linkedin-steniodr" style="color: #0A66C2">Stenio D. Rapchan</a>.
                
            </p>
            <p class="mt-3 text-custom text-justify">Se você gostou do que viu ou queira saber em quais mais projetos eu 
                atuei ou contribui, por favor veja a minha pagina no 
                <b><a href="https://github.com/steniodr" target="_blank" rel="github-steniodr" style="color: #000000">GitHub</a></b>.
            </p>
        </div>
    </div>
    
</body>
<%- include ('./partials/footer.ejs') %>
</html>